@define-color base   #1e1e2e;
@define-color text   #cdd6f4;

* {
  color: @text;
}

window#waybar {
  background-color: shade(@base, 0.9);
}

#workspaces button.active {
  border: 1px solid rgba(217, 216, 216, 1);
}

#network, #battery, #clock {
  padding: 5px;
  margin: 4px 4px 4px 4px;
}
